body{
	background-image: -webkit-linear-gradient(left, #ffffff, #ffffff);
	background-size: cover;
	font-family: arial;
}

div.loginHeader{
	text-align: center;
}
div.loginHeader{
	margin-bottom:40px;
}
div.loginHeader h1{
	font-size: 50px;
	font-family: "Montserrat", sans-serif;
	color: #000000;
	padding: 0px;
	margin: 0px;

}

div.top-right{
	position: absolute;
  top: 150px;
  right: 290px;

}
.logo {
	height: 300px; 
	width: 300px;
	
}

div.loginHeader p{
	color: #000000;
	font-size:25px;
	font-family: "Montserrat", sans-serif;
	margin: 0px;
	text-transform: uppercase;
	display: inline-block;
}


div.loginHeader p:after{
	content:'';
	display: block;
	height: 5px;
	background: #000000;
	margin: 0 auto;
}

div.loginBody form{
	margin:0 auto;
	width: 350px;;
	height: 380px; 

	padding: 15px;
	

	
}
div.loginInputsContainer label {
	margin-top: 1px;
	
}
div.loginInputsContainer label{
	display: block;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	
}

div.loginButtonRegisterhere{
	color: #000000;
	font-size:15px;
	font-family: "Montserrat", sans-serif;
	margin-top: 1px;
	margin-bottom: 20px;
	text-transform: uppercase;
	display: inline-block;
	
}

div.loginInputsContainer input {
	height: 40px;
	width: 100%;
	border: 2px solid #08a3ce;
	font-size: 20px;
	padding: 5px;
	text-align: center;
	font-style: italic;
}

div.loginButtonContainer{
	margin-top: 10px;
	text-align: center;
	
}



div.loginButtonContainer button a {
	font-size: 20px;
	padding: 10px 40px;
	background: #f685a2;
	border: none;
	color: #fff;
	text-decoration: none;
}

